@import 'fonts';
@import 'icons';

html {
    background-color: #000;
    height: 100%;
    font-size: 100%;
}

body {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    background-blend-mode: darken;

    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.65;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)) no-repeat
            center center/cover fixed;
    }
}

.content {
    color: white;
    direction: ltr;
    font-size: 2.5rem;
    line-height: 3.5rem;
    opacity: 0.34;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    float: right;
    bottom: 2rem;
    margin-right: 2rem;
    max-width: 60%;
    position: absolute;
    z-index: 2;
    right: 0;
    text-align: right;
    transition: opacity 1s;

    .weather,
    .image-description {
        font-size: 1rem;
        line-height: 1rem;
    }

    .weather {
        text-transform: capitalize;
    }
}

figure {
    backface-visibility: hidden;

    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;

    color: transparent;
    opacity: 0;
    transition: opacity 5s ease-in-out;

    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
}

.hidden {
    opacity: 0 !important;
}

@media only screen and (min-width: 480px) {
    .content {
        bottom: 2.5rem;
        margin-right: 2.5rem;

        font-size: 3rem;
        line-height: 4rem;

        .weather,
        .image-description {
            font-size: 1.25rem;
            line-height: 1.25rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    .content {
        bottom: 3rem;
        margin-right: 3rem;

        font-size: 4rem;
        line-height: 5rem;

        .weather,
        .image-description {
            font-size: 1.75rem;
            line-height: 2.5rem;
        }
    }
}

@media only screen and (min-width: 1800px) {
    .content {
        bottom: 4rem;
        margin-right: 4rem;

        font-size: 5rem;
        line-height: 6rem;

        .weather,
        .image-description {
            font-size: 2.75rem;
            line-height: 3.5rem;
        }
    }
}

@media only screen and (min-width: 2560px) {
    .content {
        bottom: 6rem;
        margin-right: 6rem;

        font-size: 7rem;
        line-height: 8rem;

        .weather,
        .image-description {
            font-size: 3.5rem;
            line-height: 4.5rem;
        }
    }
}
