@import 'fonts';
@import 'icons';

html {
  background-color: #000;
  height: 100%;
  font-size: 100%;
}

body {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    background-blend-mode: darken;

    height: 100%;
    margin: 0;
    padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.65;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.7)) no-repeat center center/cover fixed;
  }
}

.content {
  color: white;
  direction: ltr;
  font-size: 48px;
  opacity: .34;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);

    bottom: 64px;
    float: right;
    margin-right: 64px;
    max-width: 60%;
    position: absolute;
    z-index: 2;
    right: 0;
    text-align: right;
    transition: opacity 1s;

  .weather, .image-description {
    font-size: 20px;
    line-height: 2rem;
  }

  .weather {
    text-transform: capitalize;
  }
}

figure {
    backface-visibility: hidden;

    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;

    color: transparent;
    opacity: 0;
    transition: opacity 5s ease-in-out;

    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
}

.hidden {
    opacity: 0 !important;
}

@media only screen and (min-width: 480px) {
  .content {
    font-size: 5rem;

    .weather, .image-description {
      font-size: 2.5rem;
      line-height: 2rem;
    }
  }
}